/target
/lib
/classes
/checkouts
/node_modules
/dumps
/.calva
/.lsp
/.clj-kondo/.cache
/.cpcache
/.shadow-cljs
*.jar
*.class
.cljs_node_repl
.cljs_nashorn_repl
nashorn_code_cache
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-repl-history
*.swp
*~
.nrepl-port
.idea/
*.iml
.dir-locals.el
.rebl
.DS_Store
.diff-apis/.cache
.rebel_readline_history