{:paths ["src"]

 :deps {org.clojure/clojure {:mvn/version "1.10.1"}
        org.clojure/tools.reader {:mvn/version "1.3.2"}}

 :aliases {;;
           ;; Clojure versions we support
           ;;
           :1.9 {:override-deps {org.clojure/clojure {:mvn/version "1.9.0"}}}
           :1.10 {:override-deps {org.clojure/clojure {:mvn/version "1.10.1"}}}

           ;;
           ;; ClojureScript version we test with (and support)
           ;;
           :cljs {:extra-deps {org.clojure/clojurescript {:mvn/version "1.10.773"}}}

           ;;
           ;; Test support
           ;;
           :clj-kondo {:extra-deps {clj-kondo/clj-kondo {:mvn/version "2020.11.07"}}
                       :main-opts ["-m" "clj-kondo.main"]}

           :test-common {:extra-deps {org.clojure/test.check {:mvn/version "1.1.0"}}
                         :extra-paths ["test"]}

           ;; koacha for clojure testing
           :kaocha {:extra-deps {lambdaisland/kaocha {:mvn/version "1.0.700"}
                                 lambdaisland/kaocha-junit-xml {:mvn/version "0.0.76"}
                                 lambdaisland/kaocha-cloverage {:mvn/version "1.0.63"}}
                    :main-opts ["-m" "kaocha.runner"]}

           ;; figwheel for clojurescript testing during dev
           :fig-test {:extra-deps {com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}
                                   com.bhauman/figwheel-main {:mvn/version "0.2.12"}}
                      :extra-paths ["target" "test"]
                      :main-opts ["-m" "figwheel.main" "-b" "fig" "-r"]}

           :cljs-test {:extra-deps {olical/cljs-test-runner {:mvn/version "3.8.0"}}
                       :extra-paths [ "test" ]
                       :main-opts ["-m" "cljs-test-runner.main"]}

           :planck-test {:extra-paths [ "target/cljsbuild/test/planck-none/gen"]}

           ;; NOTE: see package.json for shadow-cljs deps

           ;;
           ;; Update contributors in readme.
           ;;
           :update-readme {:extra-paths ["script"]
                           :extra-deps {hiccup/hiccup {:mvn/version "1.0.5"}
                                        commons-io/commons-io {:mvn/version "2.8.0"}}
                           :main-opts ["-m" "update-readme"]}

           ;;
           ;; General script deps
           ;;
           :script {:extra-paths ["script"]
                    :extra-deps {org.clojure/tools.namespace {:mvn/version "1.0.0"}
                                 cli-matic/cli-matic {:mvn/version "0.4.3"}}}

           ;;
           ;; Running tests under graal
           ;;
           ;; We have two main graal scenarios:
           ;; sci-test - interpret tests via sci over natively compiled rewrite-cljc
           ;; native-test - natively compile src and tests and run

           ;; deps only see usage below
           :sci-test {:extra-paths ["target/generated/sci-test/src"]
                      :extra-deps {lread/sci-test {:git/url "https://github.com/lread/sci-test.git"
                                                   :sha "8a886ae8f9ae7c65d139d90e82205f7f1dacc8a6"
                                                   ;; TODO: awkward we only need cheshire to generate reflection json
                                                   :exclusions [checshire/cheshire]}}}

           :native-test {:extra-paths ["target/generated/graal"]}

           ;; usage -A:sci-test:gen-reflection
           :gen-reflection {:main-opts ["-m" "sci-test.generate-reflection-file"]
                            ;; TODO: awkward we only need cheshire to generate reflection json
                            :override-deps {lread/sci-test {:git/url "https://github.com/lread/sci-test.git"
                                                            :sha "8a886ae8f9ae7c65d139d90e82205f7f1dacc8a6"}}}

           ;; for native-image
           ;; usage -A:sci-test:native-image
           ;; or    -A:native-test:native-image
           :native-image {:override-deps {org.clojure/clojure {:mvn/version "1.10.2-alpha4"}}}

           ;; add ins if running on jdk11
           :jdk11-reflect {:extra-deps {borkdude/clj-reflector-graal-java11-fix {:mvn/version "0.0.1-graalvm-20.3.0"
                                                                                 :exclusions [org.graalvm.nativeimage/svm]}}}

           :jdk11-reflect-sci {:override-deps {borkdude/sci.impl.reflector {:mvn/version "0.0.1-java11"}}}

           ;;
           ;; Document rewrite-clj* differences
           ;;
           :diff-apis {:extra-paths ["script/resources"]
                       :extra-deps {lread/diff-apis {:git/url "https://github.com/lread/diff-apis"
                                                     :sha "193c3621aa972cc51ad7f6c0357843a4f237a2fd"}}
                       :main-opts ["-m" "diff-apis.main" "projects"]}

           ;;
           ;; Maintenance support
           ;;
           :outdated {:extra-deps {antq/antq {:mvn/version "0.8.0"}
                                   org.slf4j/slf4j-simple {:mvn/version "1.7.30"} ;; to rid ourselves of logger warnings
                                   }
                      :main-opts ["-m" "antq.core"
                                  "--exclude=borkdude/sci.impl.reflector" ;; does not follow normal versioning conventions at this time
                                  ]}}}
