{:config-paths ^:replace []
 :hooks {:analyze-call {rewrite-cljc.potemkin.clojure/import-vars-with-mods
                        hooks.rewrite-cljc.potemkin.import-vars-with-mods/import-vars-with-mods

                        rewrite-cljc.potemkin.cljs/import-vars-with-mods
                        hooks.rewrite-cljc.potemkin.import-vars-with-mods/import-vars-with-mods}}
 :lint-as
 {rewrite-cljc.potemkin.cljs/defprotocol+ clojure.core/defprotocol
  rewrite-cljc.potemkin.clojure/defprotocol+ clojure.core/defprotocol
  clojure.test.check.clojure-test/defspec clojure.core/def
  clojure.test.check.properties/for-all clojure.core/let
  rewrite-cljc.zip/subedit-> clojure.core/->
  rewrite-cljc.zip.subedit/subedit-> clojure.core/->
  rewrite-cljc.zip/subedit->> clojure.core/->>
  rewrite-cljc.zip.subedit/subedit->> clojure.core/->>
  rewrite-cljc.zip/edit-> clojure.core/->
  rewrite-cljc.zip.subedit/edit-> clojure.core/->
  rewrite-cljc.zip/edit->> clojure.core/->>
  rewrite-cljc.zip.subedit/edit->> clojure.core/->>
  rewrite-cljc.custom-zipper.switchable/defn-switchable clojure.core/defn
  rewrite-cljc.potemkin.clojure/import-vars potemkin/import-vars
  rewrite-cljc.potemkin.cljs/import-varfs potemkin/import-vars}
 :linters
 {:unsorted-required-namespaces {:level :warning}
  :unused-namespace
  {:exclude [clojure.test.check]}
  :unused-referred-var
  {:exclude {clojure.test.check [quick-check]}}
  :deprecated-var
  {:exclude {rewrite-cljc.zip.base/value
             {:namespaces [rewrite-cljc.zip]}
             rewrite-cljc.zip/->root-string
             {:namespaces [rewrite-cljc.regression-test]}
             rewrite-cljc.zip/->string
             {:namespaces [rewrite-cljc.regression-test]}
             rewrite-cljc.zip.whitespace/append-space
             {:namespaces [rewrite-cljc.zip.whitespace-test rewrite-cljc.zip]}
             rewrite-cljc.zip.whitespace/prepend-space
             {:namespaces [rewrite-cljc.zip.whitespace-test rewrite-cljc.zip]}
             rewrite-cljc.zip.whitespace/append-newline
             {:namespaces  [rewrite-cljc.zip.whitespace-test rewrite-cljc.zip]}
             rewrite-cljc.zip.whitespace/prepend-newline
             {:namespaces [rewrite-cljc.zip.whitespace-test rewrite-cljc.zip]}
             rewrite-cljc.node/value
             {:defs [rewrite-cljc.zip.base/value]}}}}}
