{:cljdoc.doc/tree
 [["Readme" {:file "README.adoc"}]
  ["Introduction" {:file "doc/01-introduction.adoc"}]
  ["Developer Guide" {:file "doc/02-developer-guide.adoc"}]
  ["Design" {}
   ["Merging rewrite-clj and rewrite-cljs" {:file "doc/design/01-merging-rewrite-clj-and-rewrite-cljs.adoc"}]
   ["API Differences" {}
    ["rewrite-clj  vs rewrite-cljs" {:file "doc/generated/api-diffs/rewrite-clj-and-rewrite-cljs.adoc"}]
    ["rewrite-clj  vs rewrite-cljc" {:file "doc/generated/api-diffs/rewrite-clj-and-rewrite-cljc-clj.adoc"}]
    ["rewrite-cljs vs rewrite-cljc" {:file "doc/generated/api-diffs/rewrite-cljs-and-rewrite-cljc-cljs.adoc"}]
    ["rewrite-cljc clj vs cljs all" {:file "doc/generated/api-diffs/rewrite-cljc.adoc"}]
    ["rewrite-cljc clj vs cljs public" {:file "doc/generated/api-diffs/rewrite-cljc-documented-only.adoc"}]]]
  ["Frequently Asked Questions" {:file "doc/03-faq.adoc"}]]}
